In [1]:
import pandas as pd

data = pd.read_csv('datasets/fitness_dataset.csv')

In [2]:
data.head()

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender,is_fit
0,56,152,65,69.6,117.0,NaN,2.37,3.97,no,F,1
1,69,186,95,60.8,114.8,7.5,8.77,3.19,0,F,1
2,46,192,103,61.4,116.4,NaN,8.20,2.03,0,F,0
3,32,189,83,60.2,130.1,7.0,6.18,3.68,0,M,1
4,60,175,99,58.1,115.8,8.0,9.95,4.83,yes,F,1

In [3]:
data.isnull().sum()

age                    0
height_cm              0
weight_kg              0
heart_rate             0
blood_pressure         0
sleep_hours          160
nutrition_quality      0
activity_index         0
smokes                 0
gender                 0
is_fit                 0
dtype: int64

In [4]:
data['smokes'].value_counts()

smokes
yes    711
0      581
no     518
1      190
Name: count, dtype: int64

In [5]:
data['sleep_hours'].isnull().value_counts()

sleep_hours
False    1840
True      160
Name: count, dtype: int64

In [6]:
data = data.dropna(subset=['sleep_hours'])

In [7]:
data['gender'] = data['gender'].map({'F': 1, 'M': 0})
data['smokes'] = data['smokes'].map({'yes': 1, 'no': 0})

data

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender,is_fit
1,69,186,95,60.8,114.8,7.5,8.77,3.19,NaN,1,1
3,32,189,83,60.2,130.1,7.0,6.18,3.68,NaN,0,1
4,60,175,99,58.1,115.8,8.0,9.95,4.83,1.0,1,1
5,25,172,85,81.2,119.2,7.7,7.35,4.08,1.0,0,0
6,78,193,83,79.6,132.5,7.4,2.16,3.42,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1994,41,158,113,79.6,104.8,11.5,3.96,1.85,1.0,0,0
1996,61,186,74,51.4,123.8,9.4,8.63,3.15,0.0,0,1
1997,77,198,89,76.7,103.6,8.3,1.98,3.36,1.0,0,0
1998,62,190,63,80.7,115.9,6.7,9.21,2.39,NaN,1,0
1999,51,166,78,89.3,101.8,8.3,4.42,1.02,NaN,0,0

In [8]:
data = data.dropna(subset='smokes')

In [9]:
data

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender,is_fit
4,60,175,99,58.1,115.8,8.0,9.95,4.83,1.0,1,1
5,25,172,85,81.2,119.2,7.7,7.35,4.08,1.0,0,0
6,78,193,83,79.6,132.5,7.4,2.16,3.42,1.0,1,0
8,56,164,108,70.1,140.9,9.1,4.15,2.06,0.0,1,0
11,40,178,55,82.3,112.3,8.5,7.64,3.84,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1991,34,191,66,85.6,130.9,6.4,5.66,3.60,0.0,1,0
1993,48,190,62,78.2,131.6,7.7,7.96,2.35,1.0,0,0
1994,41,158,113,79.6,104.8,11.5,3.96,1.85,1.0,0,0
1996,61,186,74,51.4,123.8,9.4,8.63,3.15,0.0,0,1
1997,77,198,89,76.7,103.6,8.3,1.98,3.36,1.0,0,0

In [10]:
data['is_fit'].value_counts()

is_fit
0    720
1    409
Name: count, dtype: int64

In [11]:
data['smokes'].value_counts()

smokes
1.0    654
0.0    475
Name: count, dtype: int64

In [12]:
data['gender'].value_counts()

gender
1    600
0    529
Name: count, dtype: int64

In [13]:
import xgboost as xgb
from sklearn.model_selection import train_test_split

X = data.drop('is_fit', axis=1)
y = data['is_fit']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


model = xgb.XGBClassifier(
    objective='binary:logistic',
    eval_metric='logloss',
    n_estimators=100,
    max_depth=3,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8
)

model.fit(X_train, y_train)

score = model.score(X_test, y_test)
score

0.7817109144542773

In [14]:
X_test[10:20]

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender
850,25,185,51,74.4,145.6,6.3,1.60,1.56,1.0,0
1334,36,172,118,76.4,128.6,8.8,4.92,2.48,1.0,0
1181,39,151,64,72.4,102.5,7.4,7.93,2.07,1.0,1
1855,68,194,75,80.8,137.8,5.5,2.13,1.41,0.0,1
146,50,175,94,80.0,134.7,7.8,8.16,3.39,0.0,0
1844,79,172,106,75.5,119.6,8.0,5.94,3.12,1.0,1
352,48,151,68,68.3,117.5,7.0,2.31,1.86,1.0,0
907,62,157,103,73.0,117.0,6.3,1.98,1.12,1.0,0
1142,73,154,73,89.4,111.7,8.2,0.60,4.91,0.0,1
602,26,182,78,77.9,122.7,7.4,5.79,1.52,0.0,0

In [15]:
y_test[10:30]

850     0
1334    0
1181    0
1855    0
146     1
1844    0
352     0
907     0
1142    0
602     0
1694    1
638     0
1873    0
788     1
1251    0
488     1
520     0
98      0
213     1
1254    0
Name: is_fit, dtype: int64

In [16]:
y_pred = model.predict(X_test[10:30])

y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [17]:
from sklearn.ensemble import RandomForestClassifier

model2 = RandomForestClassifier(class_weight='balanced', random_state=42)
model2.fit(X_train, y_train)

score = model2.score(X_test, y_test)
score

0.7699115044247787

In [18]:
y_test[1:10]

1783    0
1989    0
266     1
950     0
586     0
1435    1
1412    1
1985    0
1466    0
Name: is_fit, dtype: int64

In [19]:
X_test[1:10]

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender
1783,67,164,50,75.1,113.6,4.4,5.24,3.19,1.0,1
1989,59,170,80,65.5,122.2,6.6,5.47,1.35,1.0,1
266,69,164,63,67.5,112.6,8.6,6.42,2.58,0.0,1
950,45,191,59,72.4,110.2,9.0,0.75,4.78,1.0,1
586,77,155,100,67.0,126.4,7.3,8.22,1.26,0.0,1
1435,34,195,93,62.5,141.4,9.2,8.04,2.24,1.0,1
1412,31,187,73,77.5,118.1,8.3,0.83,4.83,0.0,0
1985,56,169,64,68.3,113.5,7.2,5.83,1.98,1.0,1
1466,74,164,72,87.8,114.3,10.0,6.71,2.60,1.0,1

In [20]:
y_pred2 = model2.predict(X_test[1:10])
y_pred2

array([0, 0, 0, 0, 0, 0, 1, 0, 0])

In [21]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

y_pred = model.predict(X_test)
mean = mean_absolute_error(y_test, y_pred)
mse= mean_squared_error(y_test, y_pred)

y_pred2 = model2.predict(X_test)
mean2 = mean_absolute_error(y_test, y_pred2)
mse2= mean_squared_error(y_test, y_pred2)

print('Modelo usando XGB\n')
print("MAE", mean)
print("MSE", mse)

print('\nModelo usando Sklearn\n')

print("MAE", mean2)
print("MSE", mse2)

Modelo usando XGB

MAE 0.2182890855457227
MSE 0.2182890855457227

Modelo usando Sklearn

MAE 0.23008849557522124
MSE 0.23008849557522124

In [22]:
from sklearn.metrics import classification_report, confusion_matrix

y_pred_xgb = model.predict(X_test)
print("XGBoost")
print(confusion_matrix(y_test, y_pred_xgb))
print(classification_report(y_test, y_pred_xgb))

y_pred_rf = model2.predict(X_test)
print("Random Forest")
print(confusion_matrix(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

XGBoost
[[194  32]
 [ 42  71]]
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       226
           1       0.69      0.63      0.66       113

    accuracy                           0.78       339
   macro avg       0.76      0.74      0.75       339
weighted avg       0.78      0.78      0.78       339

Random Forest
[[201  25]
 [ 53  60]]
              precision    recall  f1-score   support

           0       0.79      0.89      0.84       226
           1       0.71      0.53      0.61       113

    accuracy                           0.77       339
   macro avg       0.75      0.71      0.72       339
weighted avg       0.76      0.77      0.76       339